In [1]:
import trino
import pandas as pd
import warnings
from datetime import datetime
from dateutil.relativedelta import relativedelta
from tqdm import tqdm
import pickle
import os 


# Set up DB connection
HOST = 'starburst.g8s-data-platform-prod.glovoint.com'
PORT = 443

conn_details = {
    'host': HOST,
    'port': PORT,
    'http_scheme': 'https',
    'auth': trino.auth.OAuth2Authentication()
}

In [2]:
def get_recurrent_customers_for_period(period_start_date, period_end_date):
    sql_query = f"""
    WITH nc as (
    SELECT DISTINCT customer_id
    FROM delta.central_order_descriptors_odp.order_descriptors_v2
    WHERE order_country_code = 'PL'
      AND order_final_status = 'DeliveredStatus'
      AND order_parent_relationship_type IS NULL
      AND order_is_first_delivered_order = true
      AND order_started_local_at <= DATE_ADD('day', 1, DATE '{period_end_date}') and order_started_local_at >= DATE '{period_start_date}'
),
    rc AS (
    SELECT DISTINCT customer_id
    FROM delta.central_order_descriptors_odp.order_descriptors_v2
    WHERE order_country_code = 'PL'
      AND order_final_status = 'DeliveredStatus'
      AND order_parent_relationship_type IS NULL
      AND order_started_local_at <= DATE_ADD('day', 1, DATE '{period_end_date}') and order_started_local_at >= DATE '{period_start_date}'
    EXCEPT
    SELECT * FROM nc
),
    first_monthly_order_date_rc AS (
    SELECT customer_id, date(MIN(order_started_local_at)) AS monthly_first_order_date
    FROM delta.central_order_descriptors_odp.order_descriptors_v2
    WHERE customer_id IN (SELECT customer_id FROM rc)
    AND order_started_local_at <= DATE_ADD('day', 1, DATE '{period_end_date}') and order_started_local_at >= DATE '{period_start_date}'
    GROUP BY customer_id
),
    last_order_before_first AS (
    SELECT a.customer_id, date(MAX(b.order_started_local_at)) AS last_order_date
    FROM first_monthly_order_date_rc a
    LEFT JOIN delta.central_order_descriptors_odp.order_descriptors_v2 b ON a.customer_id = b.customer_id
    WHERE b.order_started_local_at < a.monthly_first_order_date
    GROUP BY a.customer_id
),
    rc_categorization AS (
    SELECT
        a.customer_id,
        a.monthly_first_order_date,
        b.last_order_date,
        CASE
            WHEN DATE_DIFF('day', b.last_order_date, a.monthly_first_order_date) <= 28 THEN 'Ongoing'
            WHEN DATE_DIFF('day', b.last_order_date, a.monthly_first_order_date) > 28 THEN 'Reactivated'
        END AS customer_status
    FROM first_monthly_order_date_rc a
    JOIN last_order_before_first b ON a.customer_id = b.customer_id
),
    ongoing_customers AS (
        SELECT customer_id
        FROM rc_categorization
        WHERE customer_status = 'Ongoing'
),
    reactivated_customers AS (
        SELECT customer_id
        FROM rc_categorization
        WHERE customer_status = 'Reactivated'
)

SELECT 'Ongoing' as status, customer_id FROM ongoing_customers
UNION
SELECT 'Reactivated' as status, customer_id FROM reactivated_customers"""  
    with trino.dbapi.connect(**conn_details) as conn:
        df = pd.read_sql_query(sql_query, conn)
    return df

# Usage for specific timeframes
# with warnings.catch_warnings():
#     warnings.simplefilter("ignore", category=UserWarning)
#     print("Running the query...")
#     recurrent_customers = get_recurrent_customers_for_period('2024-07-01', '2024-07-31')
#     print("Completed")

In [ ]:
# Dictionary to store dataframes
recurrent_customers = {}
# Set current_date to the last day of the previous month
current_date = datetime.now().replace(day=1) - relativedelta(days=1)
# Number of past months to look back at
N_MONTHS = 13

# Loop through the past months and create a dictionary with the recurrent customers
with warnings.catch_warnings():
    warnings.simplefilter("ignore", category=UserWarning)
    for i in tqdm(range(N_MONTHS), desc="Processing queries"):
        end_date = current_date - relativedelta(months=i)
        start_date = end_date.replace(day=1)  # Set to the first day of the month
        df = get_recurrent_customers_for_period(start_date.strftime('%Y-%m-%d'), end_date.strftime('%Y-%m-%d'))
        recurrent_customers[f"{start_date.strftime('%Y-%m-%d')} to {end_date.strftime('%Y-%m-%d')}"] = df
    print("Completed processing all periods.")

Processing queries:   0%|          | 0/13 [00:00<?, ?it/s]

In [65]:
print(recurrent_customers)

{'2024-07-01 to 2024-07-31':              status  customer_id
0       Reactivated    140391197
1       Reactivated    136874022
2       Reactivated     20792447
3       Reactivated    168147787
4       Reactivated     33984586
...             ...          ...
623033      Ongoing     88977579
623034      Ongoing     32820382
623035      Ongoing     88923166
623036      Ongoing     65379478
623037      Ongoing     67310724

[623038 rows x 2 columns], '2024-06-01 to 2024-06-30':              status  customer_id
0       Reactivated     28660094
1       Reactivated    163023105
2       Reactivated    140499793
3       Reactivated     58022810
4       Reactivated    146441937
...             ...          ...
678490      Ongoing     28007970
678491      Ongoing    115223069
678492      Ongoing    127998506
678493      Ongoing    153097976
678494      Ongoing    169968236

[678495 rows x 2 columns], '2024-05-01 to 2024-05-31':              status  customer_id
0       Reactivated    137256074
1       Reactivated    137283863
2       Reactivated     31670846
3       Reactivated     60904794
4       Reactivated    137162178
...             ...          ...
627969      Ongoing     34983485
627970      Ongoing     53020337
627971      Ongoing     30549926
627972      Ongoing    134042774
627973      Ongoing    135295695

[627974 rows x 2 columns], '2024-04-01 to 2024-04-30':              status  customer_id
0       Reactivated     56315347
1       Reactivated     41456413
2       Reactivated     74065491
3       Reactivated    145663644
4       Reactivated    108245083
...             ...          ...
597041      Ongoing    124798504
597042      Ongoing    123794221
597043      Ongoing    160461417
597044      Ongoing     40039486
597045      Ongoing    158687790

[597046 rows x 2 columns], '2024-03-01 to 2024-03-31':              status  customer_id
0           Ongoing     38697845
1           Ongoing     49778760
2           Ongoing    141988842
3           Ongoing     34535542
4           Ongoing    142521494
...             ...          ...
603161  Reactivated    135440422
603162  Reactivated     34468659
603163  Reactivated    163380117
603164  Reactivated     56606407
603165  Reactivated    108594831

[603166 rows x 2 columns], '2024-02-01 to 2024-02-29':              status  customer_id
0       Reactivated     34510653
1       Reactivated    132965418
2       Reactivated    122340562
3       Reactivated     34017579
4       Reactivated    124157716
...             ...          ...
607975      Ongoing    158445947
607976      Ongoing    158975389
607977      Ongoing    148916232
607978      Ongoing     55111862
607979      Ongoing    163191599

[607980 rows x 2 columns], '2024-01-01 to 2024-01-31':              status  customer_id
0       Reactivated     52664273
1       Reactivated    108061303
2       Reactivated    144711907
3       Reactivated     28228103
4       Reactivated     12740900
...             ...          ...
616257      Ongoing    132667506
616258      Ongoing    153144088
616259      Ongoing     48922738
616260      Ongoing    156176899
616261      Ongoing    146439290

[616262 rows x 2 columns], '2023-12-01 to 2023-12-31':              status  customer_id
0       Reactivated     35908432
1       Reactivated    149639300
2       Reactivated    151475891
3       Reactivated     39083147
4       Reactivated    143649843
...             ...          ...
590899      Ongoing    117408258
590900      Ongoing    116821854
590901      Ongoing     55984346
590902      Ongoing    144419599
590903      Ongoing    157709455

[590904 rows x 2 columns], '2023-11-01 to 2023-11-30':              status  customer_id
0       Reactivated     74341926
1       Reactivated     51061276
2       Reactivated     47708677
3       Reactivated    127689253
4       Reactivated     44207003
...             ...          ...
605390      Ongoing     56790023
605391      Ongoing     90353685
605392      Ongoing     41798734
605393      Ongoing    135351513
605394      Ongoing    141957915

[605395 rows x 2 columns], '2023-10-01 to 2023-10-31':              status  customer_id
0       Reactivated     38710226
1       Reactivated     62956679
2       Reactivated    118822087
3       Reactivated    113990793
4       Reactivated    126371123
...             ...          ...
511536      Ongoing    152274827
511537      Ongoing     69761424
511538      Ongoing     50030448
511539      Ongoing    116944089
511540      Ongoing    154915885

[511541 rows x 2 columns], '2023-09-01 to 2023-09-30':              status  customer_id
0           Ongoing     47889147
1           Ongoing    124962351
2           Ongoing    136562623
3           Ongoing     85808508
4           Ongoing     66143257
...             ...          ...
472633  Reactivated    116324030
472634  Reactivated    134233185
472635  Reactivated    145476639
472636  Reactivated     46417698
472637  Reactivated    149198992

[472638 rows x 2 columns], '2023-08-01 to 2023-08-31':              status  customer_id
0       Reactivated    125442369
1       Reactivated     36112748
2       Reactivated     89347809
3       Reactivated     29645213
4       Reactivated    114370410
...             ...          ...
454258      Ongoing    118870333
454259      Ongoing     82929302
454260      Ongoing     41221559
454261      Ongoing     41675178
454262      Ongoing    137164439

[454263 rows x 2 columns], '2023-07-01 to 2023-07-31':              status  customer_id
0       Reactivated     68357786
1       Reactivated    133489552
2       Reactivated    131895295
3       Reactivated     42706610
4       Reactivated     91964490
...             ...          ...
457948  Reactivated     43601210
457949  Reactivated    141661842
457950  Reactivated     55638521
457951  Reactivated    142766495
457952  Reactivated    116823812

[457953 rows x 2 columns]}

In [66]:
# Save the recurrent customer dictionary to a file for avoiding future waiting times
os.makedirs('data', exist_ok=True)
# Save the dictionary to a file in the 'data' folder
with open('data/recurrent_customers.pkl', 'wb') as file:
    pickle.dump(recurrent_customers, file)

# Load the dictionary from the file in the 'data' folder
with open('data/recurrent_customers.pkl', 'rb') as file:
    loaded_recurrent_customers = pickle.load(file)

In [67]:
print(loaded_recurrent_customers)

{'2024-07-01 to 2024-07-31':              status  customer_id
0       Reactivated    140391197
1       Reactivated    136874022
2       Reactivated     20792447
3       Reactivated    168147787
4       Reactivated     33984586
...             ...          ...
623033      Ongoing     88977579
623034      Ongoing     32820382
623035      Ongoing     88923166
623036      Ongoing     65379478
623037      Ongoing     67310724

[623038 rows x 2 columns], '2024-06-01 to 2024-06-30':              status  customer_id
0       Reactivated     28660094
1       Reactivated    163023105
2       Reactivated    140499793
3       Reactivated     58022810
4       Reactivated    146441937
...             ...          ...
678490      Ongoing     28007970
678491      Ongoing    115223069
678492      Ongoing    127998506
678493      Ongoing    153097976
678494      Ongoing    169968236

[678495 rows x 2 columns], '2024-05-01 to 2024-05-31':              status  customer_id
0       Reactivated    137256074
1       Reactivated    137283863
2       Reactivated     31670846
3       Reactivated     60904794
4       Reactivated    137162178
...             ...          ...
627969      Ongoing     34983485
627970      Ongoing     53020337
627971      Ongoing     30549926
627972      Ongoing    134042774
627973      Ongoing    135295695

[627974 rows x 2 columns], '2024-04-01 to 2024-04-30':              status  customer_id
0       Reactivated     56315347
1       Reactivated     41456413
2       Reactivated     74065491
3       Reactivated    145663644
4       Reactivated    108245083
...             ...          ...
597041      Ongoing    124798504
597042      Ongoing    123794221
597043      Ongoing    160461417
597044      Ongoing     40039486
597045      Ongoing    158687790

[597046 rows x 2 columns], '2024-03-01 to 2024-03-31':              status  customer_id
0           Ongoing     38697845
1           Ongoing     49778760
2           Ongoing    141988842
3           Ongoing     34535542
4           Ongoing    142521494
...             ...          ...
603161  Reactivated    135440422
603162  Reactivated     34468659
603163  Reactivated    163380117
603164  Reactivated     56606407
603165  Reactivated    108594831

[603166 rows x 2 columns], '2024-02-01 to 2024-02-29':              status  customer_id
0       Reactivated     34510653
1       Reactivated    132965418
2       Reactivated    122340562
3       Reactivated     34017579
4       Reactivated    124157716
...             ...          ...
607975      Ongoing    158445947
607976      Ongoing    158975389
607977      Ongoing    148916232
607978      Ongoing     55111862
607979      Ongoing    163191599

[607980 rows x 2 columns], '2024-01-01 to 2024-01-31':              status  customer_id
0       Reactivated     52664273
1       Reactivated    108061303
2       Reactivated    144711907
3       Reactivated     28228103
4       Reactivated     12740900
...             ...          ...
616257      Ongoing    132667506
616258      Ongoing    153144088
616259      Ongoing     48922738
616260      Ongoing    156176899
616261      Ongoing    146439290

[616262 rows x 2 columns], '2023-12-01 to 2023-12-31':              status  customer_id
0       Reactivated     35908432
1       Reactivated    149639300
2       Reactivated    151475891
3       Reactivated     39083147
4       Reactivated    143649843
...             ...          ...
590899      Ongoing    117408258
590900      Ongoing    116821854
590901      Ongoing     55984346
590902      Ongoing    144419599
590903      Ongoing    157709455

[590904 rows x 2 columns], '2023-11-01 to 2023-11-30':              status  customer_id
0       Reactivated     74341926
1       Reactivated     51061276
2       Reactivated     47708677
3       Reactivated    127689253
4       Reactivated     44207003
...             ...          ...
605390      Ongoing     56790023
605391      Ongoing     90353685
605392      Ongoing     41798734
605393      Ongoing    135351513
605394      Ongoing    141957915

[605395 rows x 2 columns], '2023-10-01 to 2023-10-31':              status  customer_id
0       Reactivated     38710226
1       Reactivated     62956679
2       Reactivated    118822087
3       Reactivated    113990793
4       Reactivated    126371123
...             ...          ...
511536      Ongoing    152274827
511537      Ongoing     69761424
511538      Ongoing     50030448
511539      Ongoing    116944089
511540      Ongoing    154915885

[511541 rows x 2 columns], '2023-09-01 to 2023-09-30':              status  customer_id
0           Ongoing     47889147
1           Ongoing    124962351
2           Ongoing    136562623
3           Ongoing     85808508
4           Ongoing     66143257
...             ...          ...
472633  Reactivated    116324030
472634  Reactivated    134233185
472635  Reactivated    145476639
472636  Reactivated     46417698
472637  Reactivated    149198992

[472638 rows x 2 columns], '2023-08-01 to 2023-08-31':              status  customer_id
0       Reactivated    125442369
1       Reactivated     36112748
2       Reactivated     89347809
3       Reactivated     29645213
4       Reactivated    114370410
...             ...          ...
454258      Ongoing    118870333
454259      Ongoing     82929302
454260      Ongoing     41221559
454261      Ongoing     41675178
454262      Ongoing    137164439

[454263 rows x 2 columns], '2023-07-01 to 2023-07-31':              status  customer_id
0       Reactivated     68357786
1       Reactivated    133489552
2       Reactivated    131895295
3       Reactivated     42706610
4       Reactivated     91964490
...             ...          ...
457948  Reactivated     43601210
457949  Reactivated    141661842
457950  Reactivated     55638521
457951  Reactivated    142766495
457952  Reactivated    116823812

[457953 rows x 2 columns]}

In [68]:
def get_orders_for_period(period_start_date, period_end_date):
    sql_query = f"""
        WITH orders AS (
        SELECT order_id,
            DATE (order_started_local_at) AS DATE,
            store_name,
            order_vertical,
            customer_id
        FROM delta.central_order_descriptors_odp.order_descriptors_v2 o
        WHERE o.order_country_code = 'PL'
            AND o.order_final_status = 'DeliveredStatus'
            AND o.order_parent_relationship_type IS NULL
            AND order_started_local_at <= DATE_ADD('day', 1, DATE '{period_end_date}') and order_started_local_at >= DATE '{period_start_date}'
	)
SELECT *
FROM orders
    """  
    with trino.dbapi.connect(**conn_details) as conn:
        df = pd.read_sql_query(sql_query, conn)
    return df

# Usage for specific timeframes
with warnings.catch_warnings():
    warnings.simplefilter("ignore", category=UserWarning)
    print("Running the query...")
    orders = get_orders_for_period('2024-07-01', '2024-07-31')
    print("Completed")

Running the query...
Completed

In [69]:
orders = {}
current_date = datetime.now().replace(day=1) - relativedelta(days=1)

with warnings.catch_warnings():
    warnings.simplefilter("ignore", category=UserWarning)
    for i in tqdm(range(N_MONTHS), desc="Processing queries"):
        end_date = current_date - relativedelta(months=i)
        start_date = end_date.replace(day=1)  # Set to the first day of the month
        df = get_orders_for_period(start_date.strftime('%Y-%m-%d'), end_date.strftime('%Y-%m-%d'))
        orders[f"{start_date.strftime('%Y-%m-%d')} to {end_date.strftime('%Y-%m-%d')}"] = df
    print("Completed processing all periods.")

Processing queries: 100%|██████████| 13/13 [04:18<00:00, 19.86s/it]

Completed processing all periods.

In [70]:
with open('data/orders.pkl', 'wb') as file:
    pickle.dump(orders, file)

with open('data/orders.pkl', 'rb') as file:
    loaded_orders = pickle.load(file)

In [74]:
print(loaded_orders)

{'2024-07-01 to 2024-07-31':              order_id        DATE                   store_name order_vertical  \
0        100737797106  2024-07-16                   McDonald's           Food
1        100737819237  2024-07-16                   McDonald's           Food
2        100737822784  2024-07-16                   McDonald's           Food
3        100737827001  2024-07-16            Biedronka Express      QCommerce
4        100737829894  2024-07-16        Subway by AMIC Energy           Food
...               ...         ...                          ...            ...
1872928  100728433298  2024-07-11                   McDonald's           Food
1872929  100728455730  2024-07-11                   McDonald's           Food
1872930  100728457998  2024-07-11    New York Pizza Department           Food
1872931  100728471377  2024-07-11  BenBurger & BenKura Centrum           Food
1872932  100728492236  2024-07-11                   McDonald's           Food

         customer_id
0          118415813
1          171661447
2           47343559
3          155969260
4           30063471
...              ...
1872928     40969345
1872929     86767120
1872930    169566185
1872931    132052087
1872932    140552562

[1872933 rows x 5 columns], '2024-06-01 to 2024-06-30':              order_id        DATE             store_name order_vertical  \
0        100638865944  2024-06-02            Zahir Kebab           Food
1        100638899071  2024-06-02              Starbucks           Food
2        100638912577  2024-06-02               Duży Ben      QCommerce
3        100638929273  2024-06-02              Starbucks           Food
4        100638933738  2024-06-02             McDonald's           Food
...               ...         ...                    ...            ...
2034229  100684058223  2024-06-21               Duży Ben      QCommerce
2034230  100684067207  2024-06-21              Kebab 365           Food
2034231  100684085901  2024-06-22             McDonald's           Food
2034232  100684110835  2024-06-22           Night Burger           Food
2034233  100684148050  2024-06-22  Subway by AMIC Energy           Food

         customer_id
0          106906104
1           84804725
2          150865117
3           62024854
4           62406031
...              ...
2034229    143376403
2034230    108419944
2034231    134866327
2034232     22408155
2034233     26887389

[2034234 rows x 5 columns], '2024-05-01 to 2024-05-31':              order_id        DATE          store_name order_vertical  \
0        100625663426  2024-05-27              Masiso           Food
1        100625681306  2024-05-27           Starbucks           Food
2        100625686068  2024-05-27        Buła i Spóła           Food
3        100625704580  2024-05-27        Viking Point           Food
4        100625706355  2024-05-27          McDonald's           Food
...               ...         ...                 ...            ...
1872742  100605368382  2024-05-17    Unique kebab 24h           Food
1872743  100605388317  2024-05-18           Carrefour      QCommerce
1872744  100605390862  2024-05-17  Świat Alkoholi 24h      QCommerce
1872745  100605391501  2024-05-17            Sklep bp      QCommerce
1872746  100605409310  2024-05-17          McDonald's           Food

         customer_id
0           89497998
1           21186886
2           32832070
3          134311600
4          127680359
...              ...
1872742     42881695
1872743    148601726
1872744    151849511
1872745     36671487
1872746     87520226

[1872747 rows x 5 columns], '2024-04-01 to 2024-04-30':              order_id        DATE                     store_name  \
0        100535878479  2024-04-16                            KFC
1        100535907779  2024-04-16              Biedronka Express
2        100535914440  2024-04-16    Sklep Internetowy Biedronka
3        100535917768  2024-04-16                   Costa Coffee
4        100535917837  2024-04-16                   Ismail Kebab
...               ...         ...                            ...
1790960  100559285019  2024-04-26          Subway by AMIC Energy
1790961  100559322835  2024-04-27                    Au&Ti Kebab
1790962  100559336216  2024-04-27              Biedronka Express
1790963  100559337225  2024-04-27  Pizza Po Zachodzie Marciniaka
1790964  100559337761  2024-04-27                    Zarin Kebab

        order_vertical  customer_id
0                 Food     47463690
1            QCommerce     60506153
2            QCommerce    158434291
3                 Food     33494554
4                 Food    121717332
...                ...          ...
1790960           Food    155746032
1790961           Food    114379346
1790962      QCommerce    125028408
1790963           Food    152345579
1790964           Food     58725487

[1790965 rows x 5 columns], '2024-03-01 to 2024-03-31':              order_id        DATE                   store_name order_vertical  \
0        100478437317  2024-03-19                 Habiba Kebab           Food
1        100478472133  2024-03-19  Sklep Internetowy Biedronka      QCommerce
2        100478473857  2024-03-19            Biedronka Express      QCommerce
3        100478495537  2024-03-19                    Starbucks           Food
4        100478512509  2024-03-19                   McDonald's           Food
...               ...         ...                          ...            ...
1818192  100446668148  2024-03-03                   McDonald's           Food
1818193  100446706336  2024-03-03            Biedronka Express      QCommerce
1818194  100446753170  2024-03-03                 AlkoFaza 24h      QCommerce
1818195  100446757003  2024-03-03                     Sklep bp      QCommerce
1818196  100446760697  2024-03-03            Biedronka Express      QCommerce

         customer_id
0          122416780
1          159055321
2          118515250
3           31491596
4          161152927
...              ...
1818192     67347090
1818193     53977532
1818194    159952879
1818195    166268604
1818196     52855991

[1818197 rows x 5 columns], '2024-02-01 to 2024-02-29':              order_id        DATE                   store_name order_vertical  \
0        100431307532  2024-02-26                    Market bp      QCommerce
1        100431323403  2024-02-26             Apteczka Zdrowia      QCommerce
2        100431327632  2024-02-26             Koh-i-Noor Kebab           Food
3        100431357221  2024-02-26  Sklep Internetowy Biedronka      QCommerce
4        100431373501  2024-02-26                   Pan Precel      QCommerce
...               ...         ...                          ...            ...
1784999  100436934075  2024-02-28                  Zahir Kebab           Food
1785000  100436949808  2024-02-28                   Moon Kebab           Food
1785001  100436965007  2024-02-28            Biedronka Express      QCommerce
1785002  100436971104  2024-02-28               My Taste Kebab           Food
1785003  100437019148  2024-02-29               My Taste Kebab           Food

         customer_id
0          137646773
1          165952184
2           66641876
3           49564311
4          121904259
...              ...
1784999     62949450
1785000     55557699
1785001     54011701
1785002     52247349
1785003     86776726

[1785004 rows x 5 columns], '2024-01-01 to 2024-01-31':              order_id        DATE                   store_name order_vertical  \
0        100352577455  2024-01-15                       Auchan      QCommerce
1        100352580136  2024-01-15                  Royal Kebab           Food
2        100352601032  2024-01-15           Sushi World Gdynia           Food
3        100352608169  2024-01-15             Apteczka Zdrowia      QCommerce
4        100352616209  2024-01-15                   McDonald's           Food
...               ...         ...                          ...            ...
1849689  100327171868  2024-01-03                   McDonald's           Food
1849690  100327184929  2024-01-04  Sklep Internetowy Biedronka      QCommerce
1849691  100327205143  2024-01-03                    Nocożercy           Food
1849692  100327229133  2024-01-04                       Auchan      QCommerce
1849693  100327231652  2024-01-03                    Market bp      QCommerce

         customer_id
0          162975310
1           44848488
2          159775510
3           34029522
4           84593507
...              ...
1849689    125395541
1849690    114837510
1849691     43609685
1849692     38123012
1849693     47612959

[1849694 rows x 5 columns], '2023-12-01 to 2023-12-31':              order_id        DATE              store_name order_vertical  \
0        100283090515  2023-12-13               Starbucks           Food
1        100283096451  2023-12-13        Apteczka Zdrowia      QCommerce
2        100283104900  2023-12-13        Apteczka Zdrowia      QCommerce
3        100283113830  2023-12-13   Subway by AMIC Energy           Food
4        100283121416  2023-12-13        Green Caffè Nero           Food
...               ...         ...                     ...            ...
1731055  100274239638  2023-12-03              McDonald's           Food
1731056  100274242879  2023-12-03                Circle K      QCommerce
1731057  100274248450  2023-12-03        Mado Kebab Grill           Food
1731058  100274249115  2023-12-03                     KFC           Food
1731059  100274255385  2023-12-04  Przystanek Pierogarnia           Food

         customer_id
0          136569057
1           23988806
2           31167462
3           97315926
4           32483122
...              ...
1731055     45799136
1731056    154196104
1731057     15621492
1731058     44588922
1731059     36266777

[1731060 rows x 5 columns], '2023-11-01 to 2023-11-30':              order_id        DATE                          store_name  \
0           725527030  2023-11-08                          McDonald's
1        100231567866  2023-11-08                          Boss Kebab
2           725530581  2023-11-08                          McDonald's
3           725530705  2023-11-08                              Auchan
4        100231570662  2023-11-08                          McDonald's
...               ...         ...                                 ...
1876412  100233488806  2023-11-09                          McDonald's
1876413  100233490489  2023-11-09  Kebab & Frytki Belgijskie Warszawa
1876414  100233497118  2023-11-09                            Circle K
1876415  100233509441  2023-11-10                        Pizzeria 666
1876416  100233512026  2023-11-10                         Zahir Kebab

        order_vertical  customer_id
0                 Food    157319741
1                 Food    142208123
2                 Food     47545352
3            QCommerce    128169745
4                 Food     58007868
...                ...          ...
1876412           Food    145338201
1876413           Food    119507742
1876414      QCommerce    150181317
1876415           Food     37699097
1876416           Food     94351419

[1876417 rows x 5 columns], '2023-10-01 to 2023-10-31':              order_id        DATE                   store_name order_vertical  \
0           724058011  2023-10-31  Sklep Internetowy Biedronka      QCommerce
1           724059725  2023-10-31            Biedronka Express      QCommerce
2           724058974  2023-10-31  Sklep Internetowy Biedronka      QCommerce
3           724060784  2023-10-31                   McDonald's           Food
4           724063884  2023-10-31            Biedronka Express      QCommerce
...               ...         ...                          ...            ...
1549116  100212996193  2023-10-29                          KFC           Food
1549117  100213000377  2023-10-29              Grill and green           Food
1549118  100213006207  2023-10-29                   McDonald's           Food
1549119  100213053000  2023-10-29                    Kebab 365           Food
1549120  100213061088  2023-10-29             Apteczka Zdrowia      QCommerce

         customer_id
0           45051715
1           36602589
2          148376815
3           31191522
4          141551914
...              ...
1549116     89344094
1549117     25024863
1549118    151080853
1549119    118315544
1549120     32648885

[1549121 rows x 5 columns], '2023-09-01 to 2023-09-30':              order_id        DATE                        store_name  \
0           700240493  2023-09-20                     Diamond Kebab
1           700242238  2023-09-20  Tandyr House Gruzińska Piekarnia
2           700242742  2023-09-20                 bp Wild Bean Cafe
3           700244862  2023-09-20                       Royal Kebab
4           700247271  2023-09-20                 Biedronka Express
...               ...         ...                               ...
1381916     700212276  2023-09-19                               KFC
1381917     700213905  2023-09-19                          Sklep bp
1381918     700216180  2023-09-19                          Sklep bp
1381919  100159314285  2023-09-19                              None
1381920  100159420131  2023-09-19                     Sweet & Spicy

        order_vertical  customer_id
0                 Food    109165141
1                 Food     31504801
2                 Food    122176796
3                 Food     19411314
4            QCommerce    145111704
...                ...          ...
1381916           Food     42511875
1381917      QCommerce    114347365
1381918      QCommerce    154487561
1381919      QCommerce     57963547
1381920           Food    113991229

[1381921 rows x 5 columns], '2023-08-01 to 2023-08-31':              order_id        DATE         store_name order_vertical  \
0           672629862  2023-08-07             Auchan      QCommerce
1           672641097  2023-08-07  Biedronka Express      QCommerce
2           672642822  2023-08-07             Auchan      QCommerce
3           672643537  2023-08-07             Bafood           Food
4           672645746  2023-08-07             Auchan      QCommerce
...               ...         ...                ...            ...
1326105     674287978  2023-08-09         McDonald's           Food
1326106     674300281  2023-08-09        Döner Kebab           Food
1326107     674316525  2023-08-10         Omen Pizza           Food
1326108     674317116  2023-08-10        Hallo Pizza           Food
1326109  100150000393  2023-08-09          Frankie's           Food

         customer_id
0          140649554
1          146691288
2           34966816
3          118146788
4           91154475
...              ...
1326105    151815158
1326106    133819700
1326107     84786507
1326108    122089799
1326109    137301255

[1326110 rows x 5 columns], '2023-07-01 to 2023-07-31':           order_id        DATE                     store_name order_vertical  \
0        664562910  2023-07-25                      Carrefour      QCommerce
1        664563587  2023-07-25              Biedronka Express      QCommerce
2        664567434  2023-07-25              Biedronka Express      QCommerce
3        664568047  2023-07-25              Biedronka Express      QCommerce
4        664568945  2023-07-25         Bar Akademicki Express           Food
...            ...         ...                            ...            ...
1332427  650036862  2023-07-01                   Burger King®           Food
1332428  650043890  2023-07-01                       Sklep bp      QCommerce
1332429  650048511  2023-07-01                   Fiero! Pizza           Food
1332430  650063896  2023-07-02                   Center Pizza           Food
1332431  650064071  2023-07-02  Salsiccia Pizzeria Napoletana           Food

         customer_id
0           42754098
1           36990919
2           38959078
3           31037938
4          149983614
...              ...
1332427    123789571
1332428    109844838
1332429    146767268
1332430     33342866
1332431     46265700

[1332432 rows x 5 columns]}

In [95]:
def filter_and_count_rc_orders(customers_dict, orders_dict, store_names, verticals):
    results = {}
    for time_span in customers_dict:
        if time_span in orders_dict:
            customers_df = customers_dict[time_span]
            orders_df = orders_dict[time_span]
            # n_recurrent_customers = orders_df.shape[0]
            n_orders_by_recurrent_customers = int(orders_df['customer_id'].isin(customers_df['customer_id']).sum())
            results[time_span] = {}
            results[time_span]['total'] = n_orders_by_recurrent_customers
            results[time_span]['rest'] = n_orders_by_recurrent_customers ## Not correct if vertical and store name overlap
            for store in store_names:
                store_orders_df = orders_df[orders_df['store_name'] == store]
                n_store_orders_by_recurrent_customers = int(store_orders_df['customer_id'].isin(customers_df['customer_id']).sum())
                results[time_span][store] = n_store_orders_by_recurrent_customers
                results[time_span]['rest'] -= n_store_orders_by_recurrent_customers
            for vertical in verticals:
                vertical_orders_df = orders_df[orders_df['order_vertical'] == vertical]
                n_vertical_orders_by_recurrent_customers = int(vertical_orders_df['customer_id'].isin(customers_df['customer_id']).sum())
                results[time_span][vertical] = n_vertical_orders_by_recurrent_customers 
                results[time_span]['rest'] -= n_vertical_orders_by_recurrent_customers
    return results

In [96]:
print(filter_and_count_rc_orders(loaded_recurrent_customers, loaded_orders, ["McDonald's",'KFC'], ['QCommerce']))

{'2024-07-01 to 2024-07-31': {'total': 1744468, 'rest': 886627, "McDonald's": 413155, 'KFC': 86165, 'QCommerce': 358521}, '2024-06-01 to 2024-06-30': {'total': 1892021, 'rest': 899066, "McDonald's": 556311, 'KFC': 80574, 'QCommerce': 356070}, '2024-05-01 to 2024-05-31': {'total': 1739136, 'rest': 857530, "McDonald's": 455160, 'KFC': 75392, 'QCommerce': 351054}, '2024-04-01 to 2024-04-30': {'total': 1663925, 'rest': 826813, "McDonald's": 419397, 'KFC': 66321, 'QCommerce': 351394}, '2024-03-01 to 2024-03-31': {'total': 1688177, 'rest': 846072, "McDonald's": 404673, 'KFC': 68870, 'QCommerce': 368562}, '2024-02-01 to 2024-02-29': {'total': 1648465, 'rest': 761865, "McDonald's": 474870, 'KFC': 60444, 'QCommerce': 351286}, '2024-01-01 to 2024-01-31': {'total': 1686986, 'rest': 812685, "McDonald's": 455949, 'KFC': 61832, 'QCommerce': 356520}, '2023-12-01 to 2023-12-31': {'total': 1567697, 'rest': 756251, "McDonald's": 431496, 'KFC': 56935, 'QCommerce': 323015}, '2023-11-01 to 2023-11-30': {'total': 1665750, 'rest': 690595, "McDonald's": 615928, 'KFC': 50393, 'QCommerce': 308834}, '2023-10-01 to 2023-10-31': {'total': 1400907, 'rest': 708570, "McDonald's": 356734, 'KFC': 55806, 'QCommerce': 279797}, '2023-09-01 to 2023-09-30': {'total': 1256697, 'rest': 634669, "McDonald's": 343216, 'KFC': 49483, 'QCommerce': 229329}, '2023-08-01 to 2023-08-31': {'total': 1197875, 'rest': 628608, "McDonald's": 305431, 'KFC': 48111, 'QCommerce': 215725}, '2023-07-01 to 2023-07-31': {'total': 1204560, 'rest': 638807, "McDonald's": 307373, 'KFC': 48292, 'QCommerce': 210088}}

In [2]:
import matplotlib.pyplot as plt
import numpy as np


results = filter_and_count_rc_orders(loaded_recurrent_customers, loaded_orders, ["McDonald's",'KFC'], ['QCommerce'])

# Extracting the data
dates = list(results.keys())
months = [pd.to_datetime(date.split(' to ')[0]).strftime('%b %y') for date in dates]
totals = [results[date]['total'] for date in dates]

# Sort the data by dates in ascending order
sorted_indices = np.argsort([pd.to_datetime(date.split(' to ')[0]) for date in dates])
months = [months[i] for i in sorted_indices]
totals = [totals[i] for i in sorted_indices]
results = {dates[i]: results[dates[i]] for i in sorted_indices}

# Extracting categories dynamically
categories = set()
for value in results.values():
    categories.update(value.keys())
categories.discard('total')
categories.discard('rest')
categories = list(categories)

# Extracting values for each category
category_values = {category: [results[date].get(category, 0) for date in results.keys()] for category in categories}
rest = [results[date]['rest'] for date in results.keys()]

# Calculate percentages
category_percentages = {category: [value / total * 100 for value, total in zip(values, totals)] for category, values in category_values.items()}
rest_pct = [r / t * 100 for r, t in zip(rest, totals)]

# Plotting the stacked bar chart
fig, ax = plt.subplots(figsize=(12, 6))

# Stacked bars
bottoms = np.zeros(len(dates))
bars = {}
for category in categories:
    bars[category] = ax.bar(months, category_values[category], bottom=bottoms, label=category)
    bottoms += category_values[category]

bars['rest'] = ax.bar(months, rest, bottom=bottoms, label='Rest')

# Adding labels and title
# ax.set_xlabel('Months')
ax.set_title('Recurrent customers orders')
ax.legend()

# Adding percentages inside the bars
def add_labels(bars, percentages):
    for bar, pct in zip(bars, percentages):
        height = bar.get_height()
        ax.text(
            bar.get_x() + bar.get_width() / 2,
            bar.get_y() + height / 2,
            f'{pct:.1f}%',
            ha='center',
            va='center',
            color='white',
            fontsize=7,
            fontweight='bold'
        )

for category in categories:
    add_labels(bars[category], category_percentages[category])
add_labels(bars['rest'], rest_pct)

# Adding total values on top of the bars
for i, total in enumerate(totals):
    ax.text(
        i,
        bottoms[i] + rest[i],
        f'{total/1e6:.2f}M',
        ha='center',
        va='bottom',
        fontsize=8,
        # fontweight='bold'
    )

# Remove y-axis
ax.yaxis.set_visible(False)

# Display the chart
plt.xticks(rotation=45)
plt.tight_layout()
plt.savefig('final_chart_white_background.png')

NameError: name 'filter_and_count_rc_orders' is not defined